<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IJOBOperation" />
                <binding name="BasicHttpBinding_IJOBLINKsOperation" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59228/Operation/JOBOperation.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJOBOperation"
                contract="ServiceReference1.IJOBOperation" name="BasicHttpBinding_IJOBOperation" />
            <endpoint address="http://localhost:59228/Operation/JOBLINKsOperation.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJOBLINKsOperation"
                contract="ServiceReference2.IJOBLINKsOperation" name="BasicHttpBinding_IJOBLINKsOperation" />
        </client>
    </system.serviceModel>
</configuration>